<div class="container">
  <div class="row">
    <h3>新規投稿フォーム</h3>
    <p class="mb-0 ml-3" style="color:red;">*は必須項目です。</p>
  </div>
  <!--エラーメッセージ-->
  <%= render 'layouts/errors', obj: @post_image %>
  <div class="row">
    <%= form_with model: @post_image, local: true do |f| %>
    <table class="table table-bordered">
      <tbody>

        <tr>
          <th scope="row">画像 *</th>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>

        <tr>
          <th scope="row">投稿タイトル *</th>
          <td><%= f.text_field :title, style:"width:50%", placeholder:"商品名、料理名など" %>
          </td>
        </tr>

        <tr>
          <th scope="row">説明</th>
          <td><%= f.text_area :body, rows:"3", style:"width:50%", placeholder:"感想など" %></td>
        </tr>

        <tr>
          <th scope="row">評価 *</th>
          <td>
            <div class="rating-box">
              <%= f.hidden_field :star, id:"rating-value" %>
              <div class="main-rating d-flex">
                <div class="ratings", style="cursor:pointer">
                  <span class="fa fa-star-o" id="star" style="color:#fc0"></span>
                  <span class="fa fa-star-o" id="star" style="color:#fc0"></span>
                  <span class="fa fa-star-o" id="star" style="color:#fc0"></span>
                  <span class="fa fa-star-o" id="star" style="color:#fc0"></span>
                  <span class="fa fa-star-o" id="star" style="color:#fc0"></span>
                </div>
                <div class="ml-3 rating-value-display">
                  <span id="rating-value-display">0</span>/5
                </div>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">タグ</th>
          <td>
            <p>","で区切ることで複数タグをつけることができます</p>
            <%= f.text_field :tag_name, style:"width:50%", placeholder:"例）牛,馬" %>
          </td>
        </tr>

        <tr>
          <th scope="row">店名 *</th>
          <td><%= f.text_field :shop_name, style:"width:50%", placeholder:"例）肉の◯◯ ▲▲店" %></td>
        </tr>

        <tr>
          <th scope="row">店の所在地 *</th>
          <td><%= f.text_field :shop_location, style:"width:50%", placeholder:"例）東京都千代田区◯◯１丁目１ ▲▲ビル１階" %></td>
        </tr>

        <tr>
          <th scope="row">店の緯度と経度を登録 *</th>
          <td>
            <p class="mb-0">
              <strong>店の所在地を入力して検索ボタンを押すとマーカーがでますので、<br>
              店の位置が正しく表示されているか確認してください。</strong><br>
              ※もしくは、GoogleMapに登録されている名称であれば検索可能です。<br>
              ※登録されている名称と異なっていると、検索できないか、間違った場所が表示される可能性がございます。
            </p>
            <input id="address" type="textbox" style="width:50%" placeholder="例）東京都千代田区◯◯１丁目１ ▲▲ビル１階" >
            <input type="button" value="検索" onclick="codeAddress()">
            <p class="mb-0 mt-3">マーカーをドラック＆ドロップで位置の調整ができます。<p>
            <div class="actions">
              <%= f.label :lat,"緯度" %>
              <%= f.text_field :lat, id: :lat, placeholder:"自動入力されます" %>
              <%= f.label :lng,"経度" %>
              <%= f.text_field :lng, id: :lng, placeholder:"自動入力されます"%>
            </div>
            <div id='map' style="width: 90%; height: 500px;"></div>
          </td>
        </tr>

        <tr>
          <th></th>
          <td><%= f.submit "投稿する", class:"btn btn-secondary btn-lg" %></td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>

  <%= link_to "一覧に戻る", post_images_path, class:"btn btn-info mt-3" %>

</div>




<script>
// 初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    // 東京
    center:  {lat: 35.6803997, lng:139.7690174},
    zoom: 15,

  });
}

// 検索後のマップ作成
let geocoder
let aft
function codeAddress(){
  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
        //マーカーが複数できないようにする
        if (aft == true){
            marker.setMap(null);
        }

        //新しくマーカーを作成する
        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true	// ドラッグ可能にする
        });

        //二度目以降か判断
        aft = true

        //検索した時に緯度経度を入力する
        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();

        // マーカーのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
            // イベントの引数evの、プロパティ.latLngが緯度経度
            document.getElementById('lat').value = ev.latLng.lat();
            document.getElementById('lng').value = ev.latLng.lng();
        });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap" async defer></script>

<%= javascript_pack_tag "star.js" %>
