<h2>地図で探す</h2>

<div id="map" style="width:100%; height:600px;"></div>

<script>

function initMap() {
  let latlng = new google.maps.LatLng(38.60, 139.5);
  let styles = [
    {
      stylers: [
        {"saturation": 0},
        {"lightness": 0}
        ]
    }];

  let map = new google.maps.Map(document.getElementById("map"), {
    zoom: 5.5,
    styles: styles,
    center: latlng
  });

  let transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);

  // 複数マーカー
  <% @post_images.each do |post_image| %>
    (function() {
      let markerLatLng = { lat: <%= post_image.lat %>, lng: <%= post_image.lng %> };
      let marker = new google.maps.Marker({
        position: markerLatLng,
        map: map
      });
      // マーカークリックで詳細へ
      let infowindow = new google.maps.InfoWindow({
        position: markerLatLng,
        content: "<a href='<%= post_image_path(post_image.id) %>' target='_blank'><%= post_image.shop_name %></a>"
      });
      marker.addListener('click', function(){
        infowindow.open(map, marker);
      });
    })();
  <% end %>
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.map_api_key %>&callback=initMap" async defer></script>
