<header class="sticky-top shadow-lg">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background:rgb(13,13,13)">
    <div class="container-fluid">
      <a class="navbar-brand mx-4 py-0" href="/">
        <%= image_tag ('logo1.png'), size:"80x60" %><%= image_tag ('logo2.png'), size:"100x60", class:"pt-2" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

        <!--ログイン済みユーザーのヘッダー-->
        <% if user_signed_in? %>
          <h5 class="mt-2 mr-5" style="color:white;">ようこそ、<%= current_user.name %>さん！</h5>
          <!--ログイン中の管理者のみ表示-->
          <% if current_user&.admin? %>
            <h5 class="mt-2 mr-5" style="color:white;"><管理者></h5>
            <li>
              <%= link_to users_path, class:"nav-link text-light" do %>
                <i class="fa-solid fa-users"></i> ユーザーリスト
              <% end %>
            </li>
          <% end %>

          <li>
            <%= link_to my_page_path, class:"nav-link text-light" do %>
              <i class="fa-solid fa-user"></i> マイページ
            <% end %>
          </li>

          <li>
            <%= link_to post_images_path, class:"nav-link text-light" do %>
              <i class="fa-solid fa-drumstick-bite"></i> お肉一覧
            <% end %>
          </li>
          <li>
            <%= link_to new_post_image_path, class:"nav-link text-light" do %>
              <i class="fa-solid fa-drumstick-bite"></i> お肉を投稿する
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light" do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>

        <!--ログイン済み管理人のヘッダー-->
        <% elsif admin_signed_in? %>
          <li>
            <%= link_to post_images_path, class:"nav-link text-light" do %>
              <i class="fa-solid fa-drumstick-bite"></i> ユーザー一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_post_images_path, class:"nav-link text-light" do %>
              <i class="fa-solid fa-drumstick-bite"></i> 投稿一覧
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete, class:"nav-link text-light" do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>

        <!--未ログイン時のヘッダー-->
        <% else %>
          <li>
            <%= link_to new_user_registration_path, class:"nav-link text-light" do %>
              <i class="fas fa-user-plus"></i> 新規ユーザー登録
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path, class:"nav-link text-light" do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
        <% end %>

        </ul>
      </div>
    </div>
  </nav>

  <!--検索用ヘッダー-->
  <div class="sub-header" style="background:#752100;">
    <div class="container">
      <div class="text-light d-flex align-items-center py-2 px-5">
        <% if user_signed_in? %>
          <!--キーワードで探す-->
          <div>キーワードで探す：</div>
          <%= form_with(url: search_keyword_path, local: true, method: :get, class: "search-form") do |form| %>
            <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
            <%= form.submit "検索", class: "search-btn" %>
          <% end %>
          <!--地図で探す-->
          <div class="ml-5">
          <%= link_to maps_path, class:"text-light" do %>
            <i class="fa-solid fa-map-location-dot"></i> 地図で探す
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>

</header>